

footer
	.container
		.row
			#footer-blue-box.col-lg-6.float-left
				h2.color--white How can we help you?
				p.color--white.
					We are available for all your questions.
				p.unmarg.color--white.
					US/Canada (Toll-Free): 888-225-6753 #[br]
					International: 559-686-9496
				a.btn.btn--primary.type--uppercase(href='#' style="margin-top:25px;")
					span.btn__text
						| Visit our Support Page
			.col-lg-6.float-right
				h2.color--white Stay informed
				p.color--white With an update in your inbox every month
				input(type="text")
				a.btn.btn--primary.type--uppercase(href='#' style="margin-top:25px;")
					span.btn__text
						| Subscribe
