header
	div.container
		img.logo(src="/img/logo/vasLogo-color.png")
		nav.small
			ul
				li
					a(href="#") Updates
				li
					a(href="#") Newsletter
				li.border-right
					a(href="#") Contact
				li
					.dropdown
						span.dropdown__trigger
							i.fa.fa-globe
							|   Language
						.dropdown__container
							.dropdown__content
								ul.menu-vertical
									li
										a(href="#").
											English
									li
										a(href="#").
											Spanish
									li
										a(href="#").
											German
		nav.large
			ul 
				li
					a(href="#").
						Solutions
				li
					a(href="#").
						About Us
				li
					a(href="#").
						Support
				li
					a(href="#").
						Inspiration
