ul.social-icons
	li
		a.social.twitter(href="https://twitter.com/VASPRODUCTS?lang=en" target="_blank" rel="noopener")
			i.fa.fa-twitter
			span.social-text Twitter
			//-img(src="/img/social/social-twitter.png")
	li
		a.social.facebook(href="https://www.facebook.com/ValleyAgriculturalSoftware/?ref=br_rs" target="_blank" rel="noopener")
			i.fa.fa-facebook
			span.social-text Facebook
			//-img(src="/img/social/social-facebook.png")
	li
		a.social.indesign(href="https://www.linkedin.com/company-beta/4426837/" target="_blank" rel="noopener")
			i.fa.fa-linkedin
			span.social-text Linkedin
			//-img(src="/img/social/social-linkedin.png")
	li
		a.social.email(href="#" target="_blank" rel="noopener")
			i.fa.fa-envelope
			span.social-text Email
			//-img(src="/img/social/social-linkedin.png")