extends layout

block content
	.content
		section.imagebg.parallax.cover.height-80(data-overlay="1")
			.background-image-holder
				img(alt='background', src='/img/home/header.jpg')
			.container
				.row
					.col-lg-4
						h2.
							At the heart of your dairy
						p.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec justo in lorem pellentesque rhoncus.
						a.btn.btn--primary.type--uppercase(href='#')
							span.btn__text
								| Get Connected
		#updates-teaser.container
			.row.imagebg.cover(style="min-height:500px;")
				.background-image-holder
					img(src="/img/home/cowpet.jpg")
				.col-lg-8(style="min-height:500px;")
				.col-lg-4.update-post.border-bottom.bg--white
					a(href="#")
						p.color--primary-2.small.unmarg.float-left Update 2/3/2017
						h4.color--primary-1.unmarg.float-left Visit VAS at the 2017 World Dairy Expo!
						i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right
				.col-lg-4.update-post.border-bottom.bg--white
					a(href="#")
						p.color--primary-2.small.unmarg.float-left Update 2/3/2017
						h4.color--primary-1.unmarg.float-left Visit VAS at the 2017 World Dairy Expo!
						i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right
				.col-lg-4.update-post.border-bottom.bg--white
					a(href="#")
						p.color--primary-2.small.unmarg.float-left Update 2/3/2017
						h4.color--primary-1.unmarg.float-left Visit VAS at the 2017 World Dairy Expo!
						i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right
		#video-teaser.container
			.row
				.col-lg-12
					.video-cover.border--round
						.background-image-holder
							img(alt='image', src='/img/home/video.jpg')
						.video-play-icon.video-play-icon--sm
						iframe(src="https://www.youtube.com/embed/W_z3IO7kO9c?ecver=1")
				#overlap-video.col-lg-6.bg--gradient.float-right
					p.
						We're proud to present to you our new branding. Strong roots give us strength for the future.
					a.btn.btn--primary.type--uppercase.float-right(href='#')
							span.btn__text
								| View The Video
		section#products.container
			.row.text-center
				.col-lg-12
					h3.color--primary-2.
						Our Products
			.row.text-left
				.col-lg-4
					img.img-clip(src="/img/home/dcomp.jpg")
					div.pad-sm
						h4.color--primary-1.
							DairyComp
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Fastest program for recording
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Simple entry system
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Flexible and customizable
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Connect with on-farm systems
				.col-lg-4(style="margin-top:50px;")
					img.img-clip(src="/img/home/fcomp.jpg")
					div.pad-sm
						h4.color--primary-1.
							FeedComp
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Eliminate feed sheets
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Monitor intakes
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Track ingredient / ratio chemistries
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Reduce feed wastes
				.col-lg-4
					img.img-clip(src="/img/home/pcomp.jpg")
					div.pad-sm
						h4.color--primary-1.
							ParlorComp
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Operate your parlor effectively
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Easily and quickly accessible
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Pen count information imports
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Calculate costs and efficiencies
		section#updates.container
			.row.text-center
				.col-lg-12
					h3.color--primary-2.
						Updates
			.row.text-left
				.col-lg-6
					a(href="#")
						p.color--primary-2.small.unmarg.float-left Update 2/3/2017
						h4.color--primary-1.unmarg.float-left Visit VAS at the 2017 World Dairy Expo!
						i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right
				.col-lg-6
					a(href="#")
						p.color--primary-2.small.unmarg.float-left Update 2/3/2017
						h4.color--primary-1.unmarg.float-left Visit VAS at the 2017 World Dairy Expo!
						i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right
				.col-lg-6
					a(href="#")
						p.color--primary-2.small.unmarg.float-left Update 2/3/2017
						h4.color--primary-1.unmarg.float-left Visit VAS at the 2017 World Dairy Expo!
						i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right
				.col-lg-6
					a(href="#")
						p.color--primary-2.small.unmarg.float-left Update 2/3/2017
						h4.color--primary-1.unmarg.float-left Visit VAS at the 2017 World Dairy Expo!
						i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right
			.row.text-center(style="margin-top:50px")
				a.btn.btn--primary-1.type--uppercase(href='#')
					span.btn__text
						| View all Updates