doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='VAS - At the Heart of Your Dairy')
    meta(name='author', content= "JJ Fry")
    link(rel="icon" href="/img/logo/vasIcon-color.png")
    
    //- uncomment if your site is responsive!
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    title VAS - At the Heart of Your Dairy
    
    block head

    != css("/")

  body
    include partials/_header
    block content
    include partials/_footer
    != js("/")
