doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")

	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		
		meta(name='author', content= "JJ Fry")
		link(rel="icon" href="/img/logo/vasIcon-color.png")
		
		//- uncomment if your site is responsive!
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		title= 'VAS - ' + contentful.Home[0].headerLargeText
		meta(name='description', content='VAS - #{contentful.Home[0].headerLargeText}')
		
		//- begin tracking codes for Paradot
		case locals.env
			when 'en'
				script(type='text/javascript').
					console.log('paradot en')
					piAId = '456842';
					piCId = '41851';
					piHostname = 'pi.pardot.com';
			when 'de'
				script(type="text/javascript").
					console.log('paradot de')
					piAId = '456842';
					piCId = '45750';
					piHostname = 'pi.pardot.com';
			when 'ru'
				script(type="text/javascript").
					console.log('paradot ru')
					piAId = '456842';
					piCId = '45752';
					piHostname = 'pi.pardot.com';
			when 'es'
				script(type="text/javascript").
					console.log('paradot es')
					piAId = '456842';
					piCId = '45748';
					piHostname = 'pi.pardot.com';
		
		script(type='text/javascript').
			//- piAId = '456842';
			//- piCId = '41851';
			//- piHostname = 'pi.pardot.com';
			(function() {
				function async_load(){
					var s = document.createElement('script'); s.type = 'text/javascript';
					s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
					var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
					}
					if(window.attachEvent) { window.attachEvent('onload', async_load); }
					else { window.addEventListener('load', async_load, false); }
			})();

		
		block head
		
		!= css("/")
	- var pageClass = /((?!\/)\w+(?=\.))/.exec(_path) == null ? '' : /((?!\/)\w+(?=\.))/.exec(_path)
	- if(pageClass[0] === undefined && entry != null & entry.sys.contentType.sys.id != undefined){pageClass = entry.sys.contentType.sys.id}
	- else{pageClass = pageClass[0]}
	- console.log('loading a page type: ' + env + ' ' + pageClass)
	body
		include partials/_header
		block content
		include partials/_footer
		!= js("/")

		script.
			window.fbAsyncInit = function() {
				FB.init({
					appId            : '407590409638822',
					autoLogAppEvents : true,
					xfbml            : true,
					version          : 'v2.10'
				});
				FB.AppEvents.logPageView();
			};

			(function(d, s, id){
				 var js, fjs = d.getElementsByTagName(s)[0];
				 if (d.getElementById(id)) {return;}
				 js = d.createElement(s); js.id = id;
				 js.src = "//connect.facebook.net/en_US/sdk.js";
				 fjs.parentNode.insertBefore(js, fjs);
			 }(document, 'script', 'facebook-jssdk'));

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-106330513-1', 'auto');
			ga('send', 'pageview');
