extends layout

block content
	.content
		section#hero.img-clip.imagebg.parallax.cover.height-70(data-overlay="7")
			.background-image-holder
				if contentful.TOU[0].headerBackground != undefined
					img(alt='background', src='#{asset(contentful.TOU[0].headerBackground)}')
			.signature-container
			.container.pos-vertical-center
				.row
					.col-sm-12
						if contentful.TOU[0].headerTitle != undefined
							h2#updatetitle= contentful.TOU[0].headerTitle
		if contentful.TOU[0].content != undefined
			section
				.container
					.row
						.col-sm-8
							.md!= md(contentful.TOU[0].content)
