extends layout

block head
	style
		|header,footer{display:none !important;}
		|.content{padding-top:0px !important;}

block content
	.content
		section#hero.imagebg.clip.parallax.cover.height-100(data-overlay="7")
			.background-image-holder
				if contentful.Contact[0].headerImage != undefined
					img(alt='background', src='#{asset(contentful.Contact[0].headerImage)}')
			.signature-container
			.container
				.row
					.col-lg-4
						if contentful.Contact[0].thankYou != undefined
							h1= contentful.Contact[0].thankYou
						if contentful.Contact[0].sentMessage != undefined
							h5= contentful.Contact[0].sentMessage
						a.btn.btn-white-green.arrow-after-white-green(href='/')
							if contentful.Contact[0].returnToHome != undefined
								span.btn__text= contentful.Contact[0].returnToHome
