extends layout

block content
	.content
		section.imagebg.clip.parallax.cover.height-80
			.background-image-holder
				img(alt='background', src='#{asset(contentful.Home[0].headerBackground)}')
			.container
				.row
					.col-lg-4
						h1 Thank you
						h5 Your message has been sent
						a.btn.btn-white-green.arrow-after-white-green(href='/')
							span.btn__text Return to home page