extends layout

block content
	.content
		section#hero.imagebg.clip.parallax.cover.height-70(data-overlay="7")
			.background-image-holder
				img(alt='background', src='#{asset(contentful.UpdatesPage[0].headerBackground)}')
			.signature-container
		section
			.container
				.row
					.col-sm-8
						pre.font--corbel.weight-normal.
							Dairy operators can’t control milk prices – but they can control/tighten the variables that determine profitability. New and faster ways of managing and interpreting data will give early adopters an advantage over the competition.   
						p.color--blue.
							By Tim Taylor, CEO, VAS
						a.btn.btn-blue-white.arrow-after-blue-white(href='/New_VAS_Informational_White_Paper.pdf' target="_blank")
							span.btn__text Download whitepaper
