// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Font stacks (add your own!)
$helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
$georgia = Georgia, Cambria, "Times New Roman", Times, serif
$lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
$monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
$verdana = Verdana, Geneva, sans-serif
$garamond = "Garamond", serif
$openSans = 'Open Sans', sans-serif;
$uni = 'uni_neue', sans-serif

// Default font settings
$font-default = $uni
$font-size = 16
$font-color = #555


$blue            = #004C75

$green           = #84A23D
$green2          = #67864E
$yellowgreen     = #9ab856
$yellow          = #d7df23

$white           = #FFFFFF

$bordergray      = rgba(129,128,111,0.5)
$gray            = #81806f
$black           = #000000


$greengradient = {
	background: rgb(103,134,78),
	background: -moz-linear-gradient(45deg, rgba(103,134,78,1) 0%, rgba(154,184,86,1) 52%, rgba(215,223,35,1) 100%),
	background: -webkit-linear-gradient(45deg, rgba(103,134,78,1) 0%,rgba(154,184,86,1) 52%,rgba(215,223,35,1) 100%),
	background: linear-gradient(45deg, rgba(103,134,78,1) 0%,rgba(154,184,86,1) 52%,rgba(215,223,35,1) 100%)
}

blue    = $blue

lime    = $yellowgreen
yellow  = $yellow

white   = $white

gray    = $gray
black   = $black





// Default color
$default-color = $green

// Text highlight color
$highlight-color = $yellowgreen

// Custom image base path for axis mixins
$img-path = '/img/'

// Ligatures
$ligatures = false
