@import 'zy_settings'

//normalize-css()
//base()
$headerHeight = 100px
$border = 1px $bordergray solid


// --- fonts
a,p,h1,h2,h3,h4,h5,h6,input,textarea,select,option,span,li,button
	font-family $uni !important
	font-weight 600
h1,h2
	font-weight 700
h3,h4,h5,h6
	font-weight 600
p,a,input,textarea,select,option,span,li
	font-weight 600


h1
	font-size 60px
	line-height 60px
h2
	font-size 50px
h3
	font-size 30px
	line-height 34px
	font-weight 600
h4
	font-size 24px
	line-height 32px
	font-weight 700
h5
	font-size 24px
	line-height 28px
	font-weight 600
h6, label
	font-size 20px
	line-height 28px
	font-weight 600
p,button,input,textarea
	font-size 16px


.weight-500
	font-weight 500
.weight-600
	font-weight 600
.weight-700
	font-weight 700
.weight-800
	font-weight 800

section
	padding 50px 0


// --- fixes
.dropdown__content
	padding 0 !important
section.imagebg.parallax
	min-height 750px;
	//border-radius 0px 0px 25% 0px
.img-clip
	//border-radius 0px 0px 25% 0px
.pad-sm
	padding 10px
@media (max-width: 767px)
	.float-center-xs
		float none
		margin 20px auto
@media (max-width: 992px)
	.float-center-sm
		float none
		margin 20px auto
p i
	margin-right 10px
.col-img-fix
	position absolute
	height 100%
.hamburger-toggle i
	color $green2
.language-dropdown
	border-left $border
	padding-left 10px
	img
		padding 0 10px
textarea
	min-height 300px







// --- misc classes
.border-right
	border-right $border
.border-bottom
	border-bottom $border
.move-up
	transform: translate(0px, -100px);

.btn > img.arrow-right
	height 20px
	position absolute
	right 10px
	top 0
	bottom 0
	margin auto
.social-icons
	li
			
		a
			transition 0.2s
			height 40px
			width 40px
			display block
			margin 0 10px
			border-radius 999px
			i
				padding 15px
				display block
				font-size 25px
				transform translate(-6px,-8px)
			.fa-facebook
				transform translate(-4px,-8px) !important
.check-mark-before, .check-mark-before-white
	position relative
	padding-left 35px
	&:before
		content ""
		width 20px
		height 20px
		background-position center right
		bottom 0
		top 0
		left 0px
		position absolute
		opacity 1
		margin auto
.check-mark-before:before
	background transparent url("../img/icon/check.png") no-repeat
	background-size contain
.check-mark-before-white:before
	background transparent url("../img/icon/check-white.png") no-repeat
	background-size contain
.video-play-icon
	position relative
.video-play-icon:before
	border none
	transition 0.2s
	content ""
	width 40%
	height 40%
	background transparent url("../img/icon/play.png") no-repeat center center
	background-size contain
	bottom 0
	right -12px
	top 0
	left 0
	position absolute
	display block
	opacity 1
	z-index 5
	margin auto
[class*="arrow-after-"]
	padding-right 50px !important
[class*="arrow-after-"]:after
	border none
	transition 0.2s
	content ""
	width 30px
	height 40%
	bottom 0
	right 15px
	top 0
	position absolute
	display block
	opacity 1
	z-index 2
	margin auto
.arrow-after-white-green
	&:hover:after
		background transparent url("../img/icon/arrow-right-green.png") no-repeat center center
		background-size contain
	&:after
		background transparent url("../img/icon/arrow-right.png") no-repeat center center
		background-size contain
.arrow-after-green-white
	&:hover:after
		background transparent url("../img/icon/arrow-right.png") no-repeat center center
		background-size contain
	&:after
		background transparent url("../img/icon/arrow-right-green.png") no-repeat center center
		background-size contain
.arrow-after-white-blue
	&:hover:after
		background transparent url("../img/icon/arrow-right-blue.png") no-repeat center center
		background-size contain
	&:after
		background transparent url("../img/icon/arrow-right.png") no-repeat center center
		background-size contain
.arrow-after-blue-white
	&:hover:after
		background transparent url("../img/icon/arrow-right.png") no-repeat center center
		background-size contain
	&:after
		background transparent url("../img/icon/arrow-right-blue.png") no-repeat center center
		background-size contain
.arrow-after-white-gray
	&:hover:after
		background transparent url("../img/icon/arrow-right-gray.png") no-repeat center center
		background-size contain
	&:after
		background transparent url("../img/icon/arrow-right.png") no-repeat center center
		background-size contain
		
			
	
	


// --- colors
a
	color $green
	&:hover
		color $yellowgreen
::selection 
	background $blue /* WebKit/Blink Browsers */
	color $white

::-moz-selection
	background: $blue /* Gecko Browsers */
	color $white
.bg--gradient
	for key, value in $greengradient
		{key}:value
.signature-container
	height 100%
	width 100%
	display block
	position absolute
	top 0
	left 0
.signature-container:before
	content ""
	width 60%
	height 100%
	background transparent url("../img/logo/vassig-white.png") no-repeat
	background-size contain
	background-position top left
	top -9%
	left -5%
	position absolute
	display block
	opacity .5
[data-overlay]:before
	for key, value in $greengradient
		{key}:value
	z-index 1
// [data-overlay] > .background-image-holder:before
// 	content ""
// 	width 50%
// 	height 100%
// 	background transparent url("../img/logo/vassig-white.png") no-repeat
// 	background-size contain
// 	background-position top left
// 	top -9%
// 	left -5%
// 	position absolute
// 	display block
// 	opacity .5
.img-clip
	position relative
	//margin-bottom 20px
	transition 0.2s
.img-clip:after, .clip.imagebg.cover:after
	transition 0.2s
	content ""
	width 25%
	height 25%
	background transparent url("../img/corner.png") no-repeat
	background-size contain
	background-position bottom right
	bottom -1px
	right 0
	position absolute
	display block
	opacity 1
	z-index 3





// --- buttons

.btn, button
	border-radius 999px
	white-space normal
	padding 0 20px
	
	
// --- white on gray
.btn-white-gray,
.btn-white-gray:visited
	background rgba(0,0,0,0.0)
	border-color $white

.btn-white-gray .btn__text,
.btn-white-gray:visited .btn__text
	color #fff

.btn-white-gray .btn__text i,
				.btn-white-gray:visited .btn__text i
	color #fff

.btn-white-gray
	&:hover
		background $white
		border-color $gray !important
		.btn__text
			color $gray
	&:active
		background $white
		


// --- white on blue
.btn-white-blue,
.btn-white-blue:visited
	background rgba(0,0,0,0.0)
	border-color $white

.btn-white-blue .btn__text,
.btn-white-blue:visited .btn__text
	color #fff

.btn-white-blue .btn__text i,
				.btn-white-blue:visited .btn__text i
	color #fff

.btn-white-blue
	&:hover
		background $white
		border-color $blue !important
		.btn__text
			color $blue
	&:active
		background $white
		


// --- white on green
.btn-white-green,
.btn-white-green:visited
	background rgba(0,0,0,0.0)
	border-color $white

.btn-white-green .btn__text,
.btn-white-green:visited .btn__text
	color #fff

.btn-white-green .btn__text i,
				.btn-white-green:visited .btn__text i
	color #fff

.btn-white-green
	&:hover
		background $white
		border-color $green !important
		.btn__text
			color $green
	&:active
		background $white
		

// --- green on white
.btn-green-white,
.btn-green-white:visited
	background rgba(0,0,0,0.0)
	border-color $green

.btn-green-white .btn__text,
.btn-green-white:visited .btn__text
	color $green

.btn-green-white .btn__text i, .btn-green-white:visited .btn__text i
	color $green

.btn-green-white
	&:hover
		background $green
		border-color $white !important
		.btn__text
			color $white
	&:active
		background $green
		

// --- blue on white
.btn-blue-white,
.btn-blue-white:visited
	background rgba(0,0,0,0.0)
	border-color $blue !important

.btn-blue-white .btn__text,
.btn-blue-white:visited .btn__text
	color $blue

.btn-blue-white .btn__text i, .btn-blue-white:visited .btn__text i
	color $blue

.btn-blue-white
	&:hover
		background $blue
		border-color $white !important
		.btn__text
			color $white
	&:active
		background $blue




.btn-circle
	border-radius 999px
	padding 20px !important
	transition padding 0s







// --- header
.dropdown__content
	border-radius 0 !important
	box-shadow none !important
	li
		padding 10px 20px
	a
		padding 10px 20px
#menu1
	padding-top 15px
header
	height $headerHeight
	background $white
	position fixed
	z-index 10
	width 100%
	// div
	// 	position relative
	// 	height 100%
	a.logo
		height 75px
		position absolute
		z-index 5
		top 0
		bottom 0
		margin auto
		.logo
			height 75px
			
		
	.nav-container
		height 100%
	
	nav
		.row.small
			a, .language
				text-transform none !important
				opacity 1 !important
				color $green2 !important
				transition .2s !important
				font-size 15px !important
				line-height inherit !important
				font-weight 600
				&:hover
					color $blue !important
					transition .2s !important
		.row:not(.small)
			a 
				text-transform none !important
				opacity 1 !important
				color $green !important
				transition .2s !important
				font-size 22px !important
				line-height inherit !important
				font-weight 600
				&:hover
					color $blue !important
					transition .2s !important
	#mega-menu
		position relative
		top 40px
	#mini-menu
		position relative
		top -30px



// --- Footer

footer
	position relative
	margin-top 100px
	width 100%
	background $gray
	z-index 1
	padding 50px 0
	input
		font-size 16px !important
	.footer-slogan
		line-height 129px
		float right
	.footer-logo
		width 150px
		margin-bottom 50px
	.footer-nav
		li
			line-height 2em !important
		a
			font-weight 600 !important
			font-size 16px
			color $white !important
	.footer-address
		line-height 2em !important
		color $white !important
	.footer-social
		h1,h2,h3,h4,h5,h6
			color $white
		li
			display	inline-block
			img
				width 50px
	#footer-social-icons
		text-align left
		ul 
			line-height 129px
			vertical-align baseline
			li
				
				a
					border 1px $white solid
					color $white
					&:hover
						transition 0.2s
						background $white
						border 1px $gray solid
						color $gray
#footer-blue-box
	position relative
	z-index 3
	top -100px
	padding 50px
	background $blue
.corner-point-brown
	overflow visible
	&:before
		content ""
		width 25%
		height 25%
		background transparent url("../img/corner-brown.png") no-repeat
		background-size contain
		background-position bottom right
		top -25%
		right 0
		position absolute
		display block
		opacity 1






// --- main content area
body
	background $white
.content
	padding-top $headerHeight
	
	//padding-bottom 200px
	background $white
	//border-radius 0px 0px 500px 0px
	//background $blue
#overlap-video 
	position relative
	top -75px
	z-index 3
	padding 25px
	color $white
#updates-teaser
	position relative
	z-index 3
	margin-top -150px
	margin-bottom 100px
#products-container
	> div:not(:nth-child(2))
		margin-top 30px
	.product-post
		
		.product-content
			transition 0.2s
			position relative
			top -2px
			padding 25px
			h1,h2,h3,h4,h5,h6 
				margin-bottom 20px
		&:hover
			
			.product-content
				transition 0.2s
				background $blue
				box-shadow 0px 2px 20px 0px rgba(0,0,0,0.3)
			.img-clip:after
				transition 0.2s
				content ""
				width 25%
				height 25%
				background transparent url("../img/corner-blue.png") no-repeat
				background-size contain
				background-position bottom right
				bottom -1px
				right 0
				position absolute
				display block
				opacity 1
			h1,h2,h3,h4,h5,h6 
				color $white !important
			p
				color $white !important
			.btn
				background rgba(0,0,0,0.0) !important
				border-color $white !important

				.btn__text
					color $white !important
					i
						color $white !important
				&:hover
					background $white !important
					border-color $blue !important
					.btn__text
						color $blue !important
				&:active
					background $white !important
								
			
#updates-section
	margin-top -100px
.updates-section
	.update-item
		padding 20px 0
		&:not(:last-child)
			border-bottom $border
		
		
		h1,h2,h3,h4,h5,h6 
			transition color 0.2s
		.arrow-right
			transition 0.2s
			margin-right 20px
			background url("../img/icon/arrow-o-right.png") no-repeat center center
			background-size contain
			width 30px
			height 30px
			display block
		&:hover
			h1,h2,h3,h4,h5,h6 
				transition color 0.2s
				color $green !important
			.arrow-right
				margin-right 15px
				transition 0.2s
				background url("../img/icon/arrow-o-right-fill.png") no-repeat center center
				background-size contain
				




// --- Blog Posts


		
#share-icons
	li
		text-align center
		display inline-block
		a
			border 1px $blue solid
			color $blue
			&:hover
				transition 0.2s
				background $blue
				border 1px $blue solid
				color $white

// #updates
// 	.col-lg-6
// 		padding 20px
// 		&::after
// 			content ''
// 			border-bottom $border
// 			display block
// 			position absolute
// 			bottom 0
// 			width 90%
// 			left 0
// 			right 0
// 			margin auto
	
// 		h4
// 			transition color 0.2s
// 		.arrow-right
// 			transition 0.2s
// 			background url("../img/icon/arrow-o-right.png") no-repeat center center
// 			background-size contain
// 			width 35px
// 			height 35px
// 			display block
// 		&:hover
// 			h4 
// 				color $green !important
// 				transition color 0.2s
// 			.arrow-right
// 				transition 0.2s
// 				background url("../img/icon/arrow-o-right-fill.png") no-repeat center center
// 				background-size contain
	

			
	

// --- Product Posts

.blue-pullquote
	border-left 2px $blue solid
	
.blue-box-pullquote
	background $blue
	padding 30px
	h1,h2,h3,h4,h5,h6,p,span
		line-height 45px
		color $white !important





// --- Inspiration page
.inspiration-post
	width 50%
	padding 0 !important
	display inline-block
#inspiration-posts
	position relative
	z-index 3
	top -425px
	margin-bottom -325px
#text-overlap, .text-overlap
	position relative
	top -100px
	padding 25px
	z-index 3
.masonry-content
	padding 30px
.masonry__container 
	.masonry__item
		transition 0.2s
		.btn
			.btn__text
				display none

		&:first-child
			margin-top 60px
		&:hover
			background $blue
			transition 0.2s
			box-shadow 0px 2px 20px 0px rgba(0,0,0,0.3)
			//filter drop-shadow(0px 0px 10px rgba(0,0,0,0.25));
			.img-clip:after
				transition 0.2s
				content ""
				width 25%
				height 25%
				background transparent url("../img/corner-blue.png") no-repeat
				background-size contain
				background-position bottom right
				bottom 0
				right 0
				position absolute
				display block
				opacity 1
			p, h1,h2,h3,h4,h5,h6
				color $white !important
			.btn-circle
				transition padding 0s
				padding 5px 20px !important
			.btn
				background $white
				border-color $white !important
				.btn__text
					padding-right 20px
					color $blue !important
					display inline !important

.corner-point-green
	overflow visible
	&:before
		content ""
		width 25%
		height 25%
		background transparent url("../img/corner-green.png") no-repeat
		background-size contain
		background-position bottom left
		top -25%
		left 0
		position absolute
		display block
		opacity 1
.corner-point-blue
	overflow visible
	&:before
		content ""
		width 25%
		height 25%
		background transparent url("../img/corner-blue-2.png") no-repeat
		background-size contain
		background-position bottom left
		top -25%
		left 0
		position absolute
		display block
		opacity 1
.corner-point-white
	overflow visible
	&:before
		content ""
		width 25%
		height 25%
		background transparent url("../img/corner.png") no-repeat
		background-size contain
		background-position bottom right
		top -25%
		right 0
		position absolute
		display block
		opacity 1
				





// --- queries
@media (max-height:1000px)
	#updates-teaser
		margin-top -100px
@media (max-width:990px)
	.menu-horizontal
		li
			display inline-block
			margin-right 15px
@media (max-width:767px)
	#mega-menu
			
		top unset
	#mini-menu
		
		top unset
	#menu1
		padding-top 0px
	.logo-mobile
		margin-left 10px !important
	.stack-menu
		margin 25px 0px 0px 0px
	.menu-horizontal
		li
			display block
			margin-top 15px
	.content
		border-radius 0px
@media (max-width: 992px)
	// #update-move-up
	// 	>div 
	// 		position relative
	// 		margin-bottom 400px;
	// 		.update-item
	// 			background $white
	// 			position absolute
	// 			bottom -400px
	// 			top unset
	header
		
	.language-dropdown
		border none
		padding 0px
		img
			padding-left 0
	.product-post.unpad
		padding-left 15px
		padding-right 15px
	#inspiration-posts
		top 0
		margin-bottom 100px
	.inspiration-post
		width 100%
		margin 0
	.update-item.pos-absolute
		position unset
		border-bottom $border
	#text-overlap
		top 0
	.content
		#updates-teaser
			margin-top -25px
			
		#overlap-video
			position relative
			top 0
			z-index 3
			padding 25px
			color $white
	.move-up
		transform: translate(0px, 0px);
	footer
		input 
			margin-bottom 10px
		#footer-nav-row
			padding-top 20px
			.col-xs-12
				margin-top 20px
				
		padding 0px 0px 50px 0px
		.mt--3
			margin-top 0px
		#footer-social-icons
			ul
				line-height 20px
			text-align center
			margin-bottom 50px
		.footer-logo
			width 200px
			margin-bottom 0px
		.footer-slogan
			line-height unset
			float unset
		#footer-blue-box
			width 100%
			top -25px
			padding 20px
		//.col-xs-12
		//	padding 25px
		//	text-align center
		