@import 'zy_settings'

//normalize-css()
//base()
$headerHeight = 100px
$border = 1px $bordergray solid


// --- fonts
a,p,h1,h2,h3,h4,h5,h6,input,textarea,select,option,span,li
	font-family $uni
	font-weight 600
h1,h2
	font-weight 800
h3,h4,h5,h6
	font-weight 700
p,a,input,textarea,select,option,span,li
	font-weight 600







// --- fixes
.dropdown__content
	padding 0 !important
section.imagebg.parallax
	min-height 750px;
	border-radius 0px 0px 25% 0px
.img-clip
	border-radius 0px 0px 25% 0px
.pad-sm
	padding 10px
@media (max-width: 768px)
	.float-center-xs
		float none
		margin 20px auto
@media (max-width: 992px)
	.float-center-sm
		float none
		margin 20px auto
p i
	margin-right 10px







// --- misc classes
.border-right
	border-right $border
.border-bottom
	border-bottom $border






// --- colors
a
	color $green
	&:hover
		color $yellowgreen
::selection 
	background $yellow /* WebKit/Blink Browsers */
	color $white

::-moz-selection
	background: $yellow /* Gecko Browsers */
	color $white
.bg--gradient
	for key, value in $greengradient
		{key}:value

[data-overlay]:before
	for key, value in $greengradient
		{key}:value
[data-overlay] > .background-image-holder:before
	content ""
	width 100%
	height 100%
	background transparent url("../img/logo/vassig-white.png") no-repeat
	background-size cover
	background-position center left
	bottom 0
	left 5%
	position absolute
	display block
	opacity .5





// --- buttons

.btn
	border-radius 999px
	white-space normal
.btn--primary,
.btn--primary:visited
	background rgba(0,0,0,0.0)
	border-color $white

.btn--primary .btn__text,
.btn--primary:visited .btn__text
	color #fff

.btn--primary .btn__text i,
				.btn--primary:visited .btn__text i
	color #fff

.btn--primary
	&:hover
		background $yellowgreen
	&:active
		background $green
		

.btn--primary-1,
.btn--primary-1:visited
	background rgba(0,0,0,0.0)
	border-color $green

.btn--primary-1 .btn__text,
.btn--primary-1:visited .btn__text
	color $green

.btn--primary-1 .btn__text i,
				.btn--primary-1:visited .btn__text i
	color $green

.btn--primary-1
	&:hover
		background $yellowgreen
		border-color $white
		.btn__text
			color $white 
	&:active
		background $green
		border-color $white
		.btn__text
			color $white








// --- header
.dropdown__content
	border-radius 0 !important
	box-shadow none !important
	li
		padding 10px 20px
	a
		padding 10px 20px
#menu1
	padding-top 15px
header
	height $headerHeight
	background $white
	position fixed
	z-index 10
	width 100%
	// div
	// 	position relative
	// 	height 100%
	a.logo
		height 75px
		position absolute
		z-index 5
		top 0
		bottom 0
		margin auto
		.logo
			height 75px
			
		
	.nav-container
		height 100%
	
	nav
		a 
			text-transform none !important
			opacity 1 !important
			color $green !important
			transition .2s !important
			font-size inherit !important
			line-height inherit !important
			&:hover
				color $yellow !important
				transition .2s !important
	// nav.small
	// 	position absolute
	// 	right 0
	// 	top 10px
	// 	ul
	// 		li
	// 			display inline-block
	// 			padding 2px 10px
				

						
	// 			a
	// 				font-weight 600
	// nav.large
	// 	position absolute
	// 	right 0
	// 	top 50px
	// 	ul
	// 		li
	// 			display inline-block
	// 			padding 2px 10px
										
	// 			a
	// 				font-weight 600





// --- Footer

footer
	position relative
	//margin-top -200px
	width 100%
	background $gray
	z-index 1
	.footer-logo
		width 200px
		margin-bottom 50px
	.footer-nav
		li
			line-height 1.5em !important
		a
			color $white !important
	.footer-address
		line-height 1.5em !important
		color $white !important
	.footer-social
		h1,h2,h3,h4,h5,h6
			color $white
		li
			display	inline-block
			img
				width 50px
#footer-blue-box
	position relative
	z-index 3
	top -225px
	padding 50px
	background $blue






// --- main content area
body
	background $gray
.content
	padding-top $headerHeight
	//padding-bottom 200px
	background $white
	border-radius 0px 0px 500px 0px
	//background $blue
#overlap-video 
	position relative
	top -75px
	z-index 3
	padding 25px
	color $white
#updates-teaser
	position relative
	z-index 3
	top -225px
	.update-post
		padding 20px
#updates
	.col-lg-6
		padding 20px
		&::after
			content ''
			border-bottom $border
			display block
			position absolute
			bottom 0
			width 90%
			left 0
			right 0
			margin auto
				




// --- Blog Posts

#social-share
	li
		width 50px
		display inline-block
		cursor pointer
		margin 0 10px








// --- Inspiration page
.inspiration-post
	width 47.5%
	margin 1.125%
	padding 0 !important
	display inline-block
#inspiration-posts
	position relative
	z-index 3
	top -425px
	margin-bottom -325px
#text-overlap
	position relative
	top -100px
	padding 25px
	z-index 3







// --- queries
@media (max-width:990px)
	.menu-horizontal
		li
			display inline-block
			margin-right 15px
@media (max-width:768px)
	#menu1
		padding-top 0px
	.logo-mobile
		margin-left 10px !important
	.stack-menu
		margin 25px 0px 0px 0px
	.menu-horizontal
		li
			display block
			margin-top 15px
	.content
		border-radius 0px
@media (max-width: 992px)
	#inspiration-posts
		top 0
		
	.inspiration-post
		width 100%
		margin 0
	#text-overlap
		top 0
	.content
		#updates-teaser
			top 0
			margin-bottom 100px
		#overlap-video
			position relative
			top 0
			z-index 3
			padding 25px
			color $white
	footer
		padding 0px 0px 50px 0px
		#footer-blue-box
			width 100%
			top 0
		.col-xs-12
			padding 25px
			text-align center
		