<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="author" content="JJ Fry">
    <link rel="icon" href="../public/img/logo/vasIcon-color.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VAS - At the Heart of Your Dairy</title>
    <meta name="description" content="VAS - At the Heart of Your Dairy">
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/custom.css' />
    <link rel='stylesheet' href='/css/flickity.css' />
    <link rel='stylesheet' href='/css/font-frankruhl-firasans.css' />
    <link rel='stylesheet' href='/css/font-karla.css' />
    <link rel='stylesheet' href='/css/font-merriweather-ptsans.css' />
    <link rel='stylesheet' href='/css/font-raleway.css' />
    <link rel='stylesheet' href='/css/font-roboto.css' />
    <link rel='stylesheet' href='/css/font-robotoslab.css' />
    <link rel='stylesheet' href='/css/font-rubiklato.css' />
    <link rel='stylesheet' href='/css/font-sourcesanspro.css' />
    <link rel='stylesheet' href='/css/iconsmind.css' />
    <link rel='stylesheet' href='/css/jquery.css' />
    <link rel='stylesheet' href='/css/lightbox.css' />
    <link rel='stylesheet' href='/css/socicon.css' />
    <link rel='stylesheet' href='/css/stack-interface.css' />
    <link rel='stylesheet' href='/css/uni.css' />
    <link rel='stylesheet' href='/css/zb_font-awesome.css' />
    <link rel='stylesheet' href='/css/zc_theme.css' />
    <link rel='stylesheet' href='/css/zy_settings.css' />
    <link rel='stylesheet' href='/css/zz_master.css' />
    <style>
    section:not(.cover) {
    	
    	padding: 4.5em 0 !important;
    	margin:4.5em 0 !important;


    }
    
    section.template-area {
background: #9ab856;

    }

    </style>
</head>
<body>
    <!-- <header>
        <div style="height:100%;" class="nav-container">
        <div style="height:100%;" class="visible-xs">
            <div style="height:100%;" class="container">
            <div style="height:100%;" class="row">
                <div style="height:100%;" class="float-left"><a href="../public/" class="logo logo-mobile"><img alt="logo" src="../public/img/logo/vasIcon-color.png" class="logo"></a></div>
                <div style="height:100%;" class="float-right col-xs-9 col-sm-10 text-right"><a href="#" data-toggle-class="#menu1;hidden-xs" class="hamburger-toggle"><i class="icon icon--sm stack-interface stack-menu"></i></a></div>
            </div>

            </div>

        </div>

        <nav id="menu1" class="hidden-xs">
            <div style="padding:0px;" class="container"><a href="../public/" class="float-left hidden-xs logo"><img alt="logo" src="../public/img/logo/vasLogo-color.png" class="logo"></a>
            <div style="background:#fff;" class="row small">
                <div class="col-xs-11 text-right float-right text-center-xs float-center-xs">
                <div class="bar__module">
                    <ul class="menu-horizontal text-right text-center-xs">
                    <li><a href="../public/updates">Updates</a></li>
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="#">Contact</a></li>
                    <li style="border-left:1px #ccc solid; padding-left: 10px;" class="dropdown"><span class="dropdown__trigger"> <img src="../public/img/icon/world.png" style="height:20px; padding: 0 10px; margin-bottom: 7px;">United States</span>
                        <div class="dropdown__container">
                        <div class="container">
                            <div class="row">
                            <div class="col-xs-12 col-sm-2 dropdown__content dropdown__content--lg">
                                <div class="col-md-2 col-sm-4 text-center">
                                <ul>
                                    <li><a href="../public/" class="language">English</a></li>
                                    <li><a href="../public/es" class="language">Spanish</a></li>
                                    <li><a href="../public/de" class="language">German</a></li>
                                </ul>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
            <div style="background:#fff;" class="row">
                <div class="col-xs-11 text-right text-center-xs float-right float-center-xs">
                <div class="bar__module">
                    <ul class="menu-horizontal text-right text-center-xs">
                    <li><a href="../public/solutions">Solutions</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="../public/inspiration">Inspiration</a></li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </nav>
        </div>
    </header> -->

    <div class="content" style="padding-top:0;">
        <section class="imagebg clip parallax cover height-30">
            <div class="background-image-holder"><img alt="background" src="http://images.contentful.com/c7vdx45k3txt/RwSgfZSt2ecYwUcoAiESE/af71a03d3ad69f3565f40d8aa16ea92a/Header2.jpg"></div>
            <div class="container pos-vertical-center">
                <div class="row text-left">
                    <div class="col-sm-12">
                        <h2 id="updatetitle">Custom Blog Content Templates</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="template-area" style="margin-top:3em;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="boxed bg--secondary boxed--lg boxed--border">
                            <h4>Template 1</h4>
                            <p>
                                Use this template when creating custom blog posts. You can easily change the content, but be careful not to leave an open div container.
                                Don't forget to replace the image source too!
                            </p>


                            <pre>
&#x3C;div class=&#x22;container mb--3&#x22;&#x3E;
    &#x3C;div class=&#x22;row&#x22;&#x3E;
        &#x3C;div class=&#x22;col-sm-8&#x22;&#x3E;
            &#x3C;p&#x3E;
                Valley Agricultural Software (VAS) has launched the new VAS Platform, a Software-as-a-Service (SaaS) platform that provides dairy operators with real-time access to critical data and reporting from anywhere with an internet or cellular connection. The VAS Platform is composed of three central programs &#x2014; DairyComp, FeedComp and ParlorComp &#x2014; that bring together, in a single interface, the three areas of each dairy with the greatest affect on profitability. The web-based software is compatible with computers, tablets and smartphones operated by all common operating systems (MAC, PC, iOS, Android).
            &#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;

&#x3C;div class=&#x22;section imagebg parallax cover height-70&#x22;&#x3E;
    &#x3C;div class=&#x22;background-image-holder container&#x22;&#x3E;
        &#x3C;img src=&#x22;http://images.contentful.com/c7vdx45k3txt/3sOqxXMkwUIoaIaIwQkMEg/64c8a9bde7c03b6775070355fce69fd0/IH0A2920.jpg&#x22;&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;

&#x3C;div class=&#x22;container&#x22;&#x3E;
    &#x3C;div class=&#x22;row&#x22;&#x3E;
        &#x3C;div id=&#x22;text-overlap&#x22; class=&#x22;corner-point-white col-lg-6 bg--white clearfix&#x22;&#x3E;
            &#x3C;p class=&#x22;small color--primary-2 col-sm-12&#x22;&#x3E;
                &#x201C;Dairy operators, in the past, have had to rely on separate programs with separate reports and completely different user interfaces to compile all of the information related to cows, feed and milk production &#x2014; and that has been limited to whatever computer that software was stored on,&#x201D; says Tim Taylor, CEO, VAS. &#x201C;The new VAS Platform puts all of that data and reporting directly into the hands of the dairy owners, foreman and other workers from anywhere on the farm, and allows them to make decisions faster based on real-time access to critical information.&#x201D;
            &#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;

&#x3C;div class=&#x22;container mb--3&#x22;&#x3E;
    &#x3C;div class=&#x22;row&#x22;&#x3E;
        &#x3C;div class=&#x22;col-sm-6&#x22;&#x3E;
            &#x3C;p&#x3E;
                Built on the strength and experience of the only software product currently serving more than 65 percent of the cows in the U.S. (DairyComp 305), The VAS Platform drives greater reporting capabilities and greater integration of data between each discipline. It does not require the installation of any additional computer or technological infrastructure, and can be used with the computers and mobile devices most operations and employees already have.
            &#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
        &#x3C;div class=&#x22;col-sm-5 col-sm-offset-1 blue-box-pullquote&#x22;&#x3E;
            &#x3C;h6 class=&#x22;color--primary-1&#x22;&#x3E;&#x22;Dairies don&#x2019;t need more data, They need better ways to interpret and place into action the data they already have. That is what the VAS Platform accomplishes.&#x22;&#x3C;/h6&#x3E;
            &#x3C;p class=&#x22;small color--primary-1&#x22;&#x3E;Tim Taylor, CEO, VAS&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;

&#x3C;div class=&#x22;mb--3 mt--3 bg--primary-1&#x22;&#x3E;
    &#x3C;div class=&#x22;container&#x22;&#x3E;
        &#x3C;div class=&#x22;row mt--1 mb--1&#x22;&#x3E;
            &#x3C;div class=&#x22;col-sm-6&#x22;&#x3E;
                &#x3C;p&#x3E;
                    The VAS Platform consists of three primary programs: DairyComp, which tracks all critical cow health, reproductive, lactation and production data &#x2013; just like the current DairyComp 305 product; FeedComp tracks and reports on all aspects related to feed: mixes, quantities, errors, intake, waste, etc.; and ParlorComp tracks milk production, employee performance and productivity, as well as important quality factors such as washing performance and equipment temperatures.
                &#x3C;/p&#x3E;
            &#x3C;/div&#x3E;
            &#x3C;div class=&#x22;col-sm-6&#x22;&#x3E;
                &#x3C;p&#x3E;
                    Each of these individual programs &#x2014; brought together under the VAS Platform &#x2014; allow for deeper integration of reporting and data in a single, common interface. This allows for faster, more intuitive reporting and interpretation of data. It also provides a basis for the development of future application program interfaces (APIs) that can tie in partners (veterinary, milk distribution, feed providers, etc.) to create efficiencies throughout the entire dairy ecosystem. And, as a web-based system, it also allows for the integration of multi-site data into a single program.
                &#x3C;/p&#x3E;
            &#x3C;/div&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;


&#x3C;div class=&#x22;container mb--3&#x22;&#x3E;
    &#x3C;div class=&#x22;row text-center&#x22;&#x3E;
        &#x3C;div class=&#x22;col-sm-8 col-sm-offset-2&#x22;&#x3E;
            &#x3C;h6&#x3E;
                &#x201C;The VAS Platform gives dairy owners a greater understanding of the operation as a whole, and serves as a catalyst for making decisions about the performance of the business faster &#x2014; which ultimately drives down production costs and increases profitability,&#x201D; says Taylor.
            &#x3C;/h6&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;


&#x3C;div class=&#x22;container mb--3 mt--3&#x22;&#x3E;
    &#x3C;div class=&#x22;row&#x22;&#x3E;
        &#x3C;div class=&#x22;col-sm-8 mb--1 mt--1&#x22;&#x3E;
            &#x3C;h6 class=&#x22;color--primary-1&#x22;&#x3E;
                VAS will begin signing dairies up for the new platform in Fall 2017. The company will continue to support its existing computer-based software products after the launch of the new web-based platform.
                For more information on the all-new VAS Platform, visit VAS.com, or call toll-free at 888-225-6753.
            &#x3C;/h6&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;

&#x3C;div class=&#x22;container mb--3&#x22;&#x3E;
    &#x3C;div class=&#x22;row&#x22;&#x3E;
        &#x3C;div class=&#x22;col-sm-6&#x22;&#x3E;
            &#x3C;h6&#x3E;Media Contact:&#x3C;/h6&#x3E;
            &#x3C;p&#x3E;
                Bill Elverman&#x3C;br&#x3E;
                262.757.5803&#x3C;br&#x3E;
                &#x3C;a class=&#x22;unmarg&#x22; href=&#x22;mailto:bill@pkamar.com&#x22;&#x3E;bill@pkamar.com&#x3C;/a&#x3E;&#x3C;br&#x3E;
                Twitter: &#x3C;a class=&#x22;unmarg&#x22; href=&#x22;https://twitter.com/industrialprguy&#x22;&#x3E;@IndustrialPRGuy&#x3C;/a&#x3E;
            &#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;


								</pre>
                            <h4>
                                See what it looks like below
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>

            <div class="container mb--3">
                <div class="row">
                    <div class="col-sm-8">
                        <p>
                            Valley Agricultural Software (VAS) has launched the new VAS Platform, a Software-as-a-Service (SaaS) platform that provides dairy operators with real-time access to critical data and reporting from anywhere with an internet or cellular connection. The VAS Platform is composed of three central programs — DairyComp, FeedComp and ParlorComp — that bring together, in a single interface, the three areas of each dairy with the greatest affect on profitability. The web-based software is compatible with computers, tablets and smartphones operated by all common operating systems (MAC, PC, iOS, Android).
                        </p>
                    </div>
                </div>
            </div>

            <div class="section imagebg parallax cover height-70">
                <div class="background-image-holder container">
                    <img src="http://images.contentful.com/c7vdx45k3txt/3sOqxXMkwUIoaIaIwQkMEg/64c8a9bde7c03b6775070355fce69fd0/IH0A2920.jpg">
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div id="text-overlap" class="corner-point-white col-lg-6 bg--white clearfix">
                        <p class="small color--primary-2 col-sm-12">
                            “Dairy operators, in the past, have had to rely on separate programs with separate reports and completely different user interfaces to compile all of the information related to cows, feed and milk production — and that has been limited to whatever computer that software was stored on,” says Tim Taylor, CEO, VAS. “The new VAS Platform puts all of that data and reporting directly into the hands of the dairy owners, foreman and other workers from anywhere on the farm, and allows them to make decisions faster based on real-time access to critical information.”
                        </p>
                    </div>
                </div>
            </div>

            <div class="container mb--3">
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            Built on the strength and experience of the only software product currently serving more than 65 percent of the cows in the U.S. (DairyComp 305), The VAS Platform drives greater reporting capabilities and greater integration of data between each discipline. It does not require the installation of any additional computer or technological infrastructure, and can be used with the computers and mobile devices most operations and employees already have.
                        </p>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1 blue-box-pullquote">
                        <h6 class="color--primary-1">"Dairies don’t need more data, They need better ways to interpret and place into action the data they already have. That is what the VAS Platform accomplishes."</h6>
                        <p class="small color--primary-1">Tim Taylor, CEO, VAS</p>
                    </div>
                </div>
            </div>

            <div class="mb--3 mt--3 bg--primary-1">
                <div class="container">
                    <div class="row mt--1 mb--1">
                        <div class="col-sm-6">
                            <p>
                                The VAS Platform consists of three primary programs: DairyComp, which tracks all critical cow health, reproductive, lactation and production data – just like the current DairyComp 305 product; FeedComp tracks and reports on all aspects related to feed: mixes, quantities, errors, intake, waste, etc.; and ParlorComp tracks milk production, employee performance and productivity, as well as important quality factors such as washing performance and equipment temperatures.
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                Each of these individual programs — brought together under the VAS Platform — allow for deeper integration of reporting and data in a single, common interface. This allows for faster, more intuitive reporting and interpretation of data. It also provides a basis for the development of future application program interfaces (APIs) that can tie in partners (veterinary, milk distribution, feed providers, etc.) to create efficiencies throughout the entire dairy ecosystem. And, as a web-based system, it also allows for the integration of multi-site data into a single program.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container mb--3">
                <div class="row text-center">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h6>
                            “The VAS Platform gives dairy owners a greater understanding of the operation as a whole, and serves as a catalyst for making decisions about the performance of the business faster — which ultimately drives down production costs and increases profitability,” says Taylor.
                        </h6>
                    </div>
                </div>
            </div>


            <div class="container mb--3 mt--3">
                <div class="row">
                    <div class="col-sm-8 mb--1 mt--1">
                        <h6 class="color--primary-1">
                            VAS will begin signing dairies up for the new platform in Fall 2017. The company will continue to support its existing computer-based software products after the launch of the new web-based platform.
                            For more information on the all-new VAS Platform, visit VAS.com, or call toll-free at 888-225-6753.
                        </h6>
                    </div>
                </div>
            </div>

            <div class="container mb--3">
                <div class="row">
                    <div class="col-sm-6">
                        <h6>Media Contact:</h6>
                        <p>
                            Bill Elverman<br>
                            262.757.5803<br>
                            <a class="unmarg" href="mailto:bill@pkamar.com">bill@pkamar.com</a><br>
                            Twitter: <a class="unmarg" href="https://twitter.com/industrialprguy">@IndustrialPRGuy</a>
                        </p>
                    </div>
                </div>
            </div>

        </section>
<section class="template-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="boxed bg--secondary boxed--lg boxed--border">
                            <h4>Template 2</h4>
                            <p>
                                Use this template when creating custom blog posts. You can easily change the content, but be careful not to leave an open div container. Don't forget to replace the image source too!
                            </p>


                            <pre>
&#x3C;div class=&#x22;container mb--3&#x22;&#x3E;
    &#x3C;div class=&#x22;row&#x22;&#x3E;
        &#x3C;div class=&#x22;col-sm-8&#x22;&#x3E;
            &#x3C;p&#x3E;
                Valley Agricultural Software (VAS) has launched the new VAS Platform, a Software-as-a-Service (SaaS) platform that provides dairy operators with real-time access to critical data and reporting from anywhere with an internet or cellular connection. The VAS Platform is composed of three central programs &#x2014; DairyComp, FeedComp and ParlorComp &#x2014; that bring together, in a single interface, the three areas of each dairy with the greatest affect on profitability. The web-based software is compatible with computers, tablets and smartphones operated by all common operating systems (MAC, PC, iOS, Android).
            &#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;

&#x3C;div class=&#x22;section imagebg parallax cover height-40&#x22;&#x3E;
    &#x3C;div class=&#x22;background-image-holder container&#x22;&#x3E;
        &#x3C;img src=&#x22;//images.contentful.com/c7vdx45k3txt/2u0uuY8BX6aEEM4oqEUoCs/2f676c9943512c6a3e63160498bcf367/IH0A3671.jpg&#x22;&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;

&#x3C;div class=&#x22;container&#x22;&#x3E;
    &#x3C;div class=&#x22;row&#x22;&#x3E;
        &#x3C;div id=&#x22;text-overlap&#x22; class=&#x22;corner-point-green col-lg-6 bg--gradient clearfix float-right&#x22;&#x3E;
            &#x3C;p class=&#x22;color--white&#x22;&#x3E;
                &#x201C;Dairy operators, in the past, have had to rely on separate programs with separate reports and completely different user interfaces to compile all of the information related to cows, feed and milk production &#x2014; and that has been limited to whatever computer that software was stored on,&#x201D; says Tim Taylor, CEO, VAS. &#x201C;The new VAS Platform puts all of that data and reporting directly into the hands of the dairy owners, foreman and other workers from anywhere on the farm, and allows them to make decisions faster based on real-time access to critical information.&#x201D;
            &#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;


&#x3C;div class=&#x22;container mb--3&#x22;&#x3E;
    &#x3C;div class=&#x22;row&#x22;&#x3E;
        &#x3C;div class=&#x22;col-sm-6&#x22;&#x3E;
            &#x3C;p&#x3E;
                Built on the strength and experience of the only software product currently serving more than 65 percent of the cows in the U.S. (DairyComp 305), The VAS Platform drives greater reporting capabilities and greater integration of data between each discipline. It does not require the installation of any additional computer or technological infrastructure, and can be used with the computers and mobile devices most operations and employees already have.
            &#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
        &#x3C;div class=&#x22;col-sm-5 col-sm-offset-1 blue-pullquote&#x22;&#x3E;
            &#x3C;h6 class=&#x22;color--primary-1&#x22;&#x3E;&#x22;Dairies don&#x2019;t need more data, They need better ways to interpret and place into action the data they already have. That is what the VAS Platform accomplishes.&#x22;&#x3C;/h6&#x3E;
            &#x3C;p class=&#x22;small color--primary-1&#x22;&#x3E;Tim Taylor, CEO, VAS&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;

&#x3C;div class=&#x22;container mb--3&#x22;&#x3E;
    &#x3C;div class=&#x22;row&#x22;&#x3E;
        &#x3C;div class=&#x22;col-sm-8&#x22;&#x3E;
            &#x3C;p&#x3E;
                The VAS Platform consists of three primary programs: DairyComp, which tracks all critical cow health, reproductive, lactation and production data &#x2013; just like the current DairyComp 305 product; FeedComp tracks and reports on all aspects related to feed: mixes, quantities, errors, intake, waste, etc.; and ParlorComp tracks milk production, employee performance and productivity, as well as important quality factors such as washing performance and equipment temperatures.
            &#x3C;/p&#x3E;
            &#x3C;p&#x3E;
                Each of these individual programs &#x2014; brought together under the VAS Platform &#x2014; allow for deeper integration of reporting and data in a single, common interface. This allows for faster, more intuitive reporting and interpretation of data. It also provides a basis for the development of future application program interfaces (APIs) that can tie in partners (veterinary, milk distribution, feed providers, etc.) to create efficiencies throughout the entire dairy ecosystem. And, as a web-based system, it also allows for the integration of multi-site data into a single program.
            &#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;


&#x3C;div class=&#x22;container mb--3&#x22;&#x3E;
    &#x3C;div class=&#x22;row text-center&#x22;&#x3E;
        &#x3C;div class=&#x22;col-sm-8 col-sm-offset-2&#x22;&#x3E;
            &#x3C;h6&#x3E;
                &#x201C;The VAS Platform gives dairy owners a greater understanding of the operation as a whole, and serves as a catalyst for making decisions about the performance of the business faster &#x2014; which ultimately drives down production costs and increases profitability,&#x201D; says Taylor.
            &#x3C;/h6&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;


&#x3C;div class=&#x22;container mb--3&#x22;&#x3E;
    &#x3C;div class=&#x22;row&#x22;&#x3E;
        &#x3C;div class=&#x22;col-sm-8&#x22;&#x3E;
            &#x3C;p&#x3E;
                VAS will begin signing dairies up for the new platform in Fall 2017. The company will continue to support its existing computer-based software products after the launch of the new web-based platform.
                For more information on the all-new VAS Platform, visit VAS.com, or call toll-free at 888-225-6753.
            &#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;

&#x3C;div class=&#x22;container mb--3&#x22;&#x3E;
    &#x3C;div class=&#x22;row&#x22;&#x3E;
        &#x3C;div class=&#x22;col-sm-6&#x22;&#x3E;
            &#x3C;h6&#x3E;Media Contact:&#x3C;/h6&#x3E;
            &#x3C;p&#x3E;
                Bill Elverman&#x3C;br&#x3E;
                262.757.5803&#x3C;br&#x3E;
                &#x3C;a class=&#x22;unmarg&#x22; href=&#x22;mailto:bill@pkamar.com&#x22;&#x3E;bill@pkamar.com&#x3C;/a&#x3E;&#x3C;br&#x3E;
                Twitter: &#x3C;a class=&#x22;unmarg&#x22; href=&#x22;https://twitter.com/industrialprguy&#x22;&#x3E;@IndustrialPRGuy&#x3C;/a&#x3E;
            &#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
</pre>
                            <h4>
                                See what it looks like below
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<section>
<div class="container mb--3">
    <div class="row">
        <div class="col-sm-8">
            <p>
                Valley Agricultural Software (VAS) has launched the new VAS Platform, a Software-as-a-Service (SaaS) platform that provides dairy operators with real-time access to critical data and reporting from anywhere with an internet or cellular connection. The VAS Platform is composed of three central programs — DairyComp, FeedComp and ParlorComp — that bring together, in a single interface, the three areas of each dairy with the greatest affect on profitability. The web-based software is compatible with computers, tablets and smartphones operated by all common operating systems (MAC, PC, iOS, Android).
            </p>
        </div>
    </div>
</div>

<div class="section imagebg parallax cover height-40">
    <div class="background-image-holder container">
        <img src="http://images.contentful.com/c7vdx45k3txt/2u0uuY8BX6aEEM4oqEUoCs/2f676c9943512c6a3e63160498bcf367/IH0A3671.jpg">
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="text-overlap" class="corner-point-green col-lg-6 bg--gradient clearfix float-right">
            <p class="color--white">
                “Dairy operators, in the past, have had to rely on separate programs with separate reports and completely different user interfaces to compile all of the information related to cows, feed and milk production — and that has been limited to whatever computer that software was stored on,” says Tim Taylor, CEO, VAS. “The new VAS Platform puts all of that data and reporting directly into the hands of the dairy owners, foreman and other workers from anywhere on the farm, and allows them to make decisions faster based on real-time access to critical information.”
            </p>
        </div>
    </div>
</div>


<div class="container mb--3">
    <div class="row">
        <div class="col-sm-6">
            <p>
                Built on the strength and experience of the only software product currently serving more than 65 percent of the cows in the U.S. (DairyComp 305), The VAS Platform drives greater reporting capabilities and greater integration of data between each discipline. It does not require the installation of any additional computer or technological infrastructure, and can be used with the computers and mobile devices most operations and employees already have.
            </p>
        </div>
        <div class="col-sm-5 col-sm-offset-1 blue-pullquote">
            <h6 class="color--primary-1">"Dairies don’t need more data, They need better ways to interpret and place into action the data they already have. That is what the VAS Platform accomplishes."</h6>
            <p class="small color--primary-1">Tim Taylor, CEO, VAS</p>
        </div>
    </div>
</div>

<div class="container mb--3">
    <div class="row">
        <div class="col-sm-8">
            <p>
                The VAS Platform consists of three primary programs: DairyComp, which tracks all critical cow health, reproductive, lactation and production data – just like the current DairyComp 305 product; FeedComp tracks and reports on all aspects related to feed: mixes, quantities, errors, intake, waste, etc.; and ParlorComp tracks milk production, employee performance and productivity, as well as important quality factors such as washing performance and equipment temperatures.
            </p>
            <p>
                Each of these individual programs — brought together under the VAS Platform — allow for deeper integration of reporting and data in a single, common interface. This allows for faster, more intuitive reporting and interpretation of data. It also provides a basis for the development of future application program interfaces (APIs) that can tie in partners (veterinary, milk distribution, feed providers, etc.) to create efficiencies throughout the entire dairy ecosystem. And, as a web-based system, it also allows for the integration of multi-site data into a single program.
            </p>
        </div>
    </div>
</div>


<div class="container mb--3">
    <div class="row text-center">
        <div class="col-sm-8 col-sm-offset-2">
            <h6>
                “The VAS Platform gives dairy owners a greater understanding of the operation as a whole, and serves as a catalyst for making decisions about the performance of the business faster — which ultimately drives down production costs and increases profitability,” says Taylor.
            </h6>
        </div>
    </div>
</div>


<div class="container mb--3">
    <div class="row">
        <div class="col-sm-8">
            <p>
                VAS will begin signing dairies up for the new platform in Fall 2017. The company will continue to support its existing computer-based software products after the launch of the new web-based platform.
                For more information on the all-new VAS Platform, visit VAS.com, or call toll-free at 888-225-6753.
            </p>
        </div>
    </div>
</div>

<div class="container mb--3">
    <div class="row">
        <div class="col-sm-6">
            <h6>Media Contact:</h6>
            <p>
                Bill Elverman<br>
                262.757.5803<br>
                <a class="unmarg" href="mailto:bill@pkamar.com">bill@pkamar.com</a><br>
                Twitter: <a class="unmarg" href="https://twitter.com/industrialprguy">@IndustrialPRGuy</a>
            </p>
        </div>
    </div>
</div>

</section>








    </div>
    <footer class="corner-point-brown">
        <div class="container">
            <div class="row unmarg">

                <div id="footer-nav-row" class="row">
                    <div class="col-sm-3 col-xs-9 float-center-xs text-center-xs">
                        <ul class="footer-nav">
                            <li><a href="../public/solutions">Solutions</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="../public/inspiration">Inspiration</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-9 float-center-xs text-center-xs">
                        <ul class="footer-nav">
                            <li><a href="#">DairyComp</a></li>
                            <li><a href="#">FeedComp</a></li>
                            <li><a href="#">ParlorComp</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-9 float-center-xs text-center-xs">
                        <ul class="footer-nav">
                            <li><a href="../public/updates">Updates</a></li>
                            <li><a href="#">Newsletter</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-9 float-center-xs text-center-xs">
                        <p class="footer-address">
                            VAS</br>
                            3950 South K Street</br>
                            Tulare, CA 93274 USA
                        </p>
                    </div>
                </div>
                <div class="row mt--3 footer-social">
                    <div id="footer-social-icons" class="col-md-4 col-sm-6">
                        <ul class="social-icons">
                            <li><a href="https://twitter.com/VASPRODUCTS?lang=en" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/ValleyAgriculturalSoftware/?ref=br_rs" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/company-beta/4426837/" target="_blank" class="indesign"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-12 text-center"><a href="../public/" style="top:-40px;" class="pos-relative"><img src="../public/img/logo/vasLogo-white.png" class="footer-logo"></a></div>
                    <div class="col-md-4 col-xs-12">
                        <h4 class="footer-slogan text-center-sm unmarg">At the Heart of Your Dairy</h4>
                    </div>
                    <div class="col-sm-12">
                        <ul class="text-left color--white text-center-xs">
                            <li class="pad-sm"><a href="#" class="small color--white">Terms of Use</a></li>
                            <li class="pad-sm"><a href="#" class="small color--white">Privacy and Cookies</a></li>
                            <li class="pad-sm"><a href="#" class="small color--white">Colofon</a></li>
                            <li class="pad-sm">
                                <p class="small">© VAS 2017</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </footer>
    <script src='\js\01jquery-3.1.1.min.js'></script>
    <script src='\js\02jquery.steps.min.js'></script>
    <script src='\js\countdown.min.js'></script>
    <script src='\js\custom.js'></script>
    <script src='\js\datepicker.js'></script>
    <script src='\js\easypiechart.min.js'></script>
    <script src='\js\flickity.min.js'></script>
    <script src='\js\granim.min.js'></script>
    <script src='\js\isotope.min.js'></script>
    <script src='\js\lightbox.min.js'></script>
    <script src='\js\parallax.js'></script>
    <script src='\js\scripts.js'></script>
    <script src='\js\smooth-scroll.min.js'></script>
    <script src='\js\spectragram.min.js'></script>
    <script src='\js\twitterfetcher.min.js'></script>
    <script src='\js\typed.min.js'></script>
    <script src='\js\ytplayer.min.js'></script>
    <script src='\js\main.js'></script>
    <script>
			window.fbAsyncInit = function() {
				FB.init({
					appId            : '407590409638822',
					autoLogAppEvents : true,
					xfbml            : true,
					version          : 'v2.10'
				});
				FB.AppEvents.logPageView();
			};

			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "../public/connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>